
.sidebar {
    height: 100%;
    width: 15rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.navbar {
    padding: 1em 5px;
}

.main {
    margin-left: 15rem; /* Igual que ancho del sidebar */
    font-size: 1em; /* Increased text to enable scrolling */
    padding: 10px 10px;
}



.nav-sidebar {
    display: none;
}

.icon-navbar {
    display: none;
}

.nav-header-collapse {
    display: none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}



@media only screen and (max-width:768px) {
    .empresaSelect {
        margin: auto;
    }

    #navbar-content-link {
        padding-right: 0px;
        padding-left: 0px;
    }

    .navbar {
        padding: 1.1em 0px;
    }

    li.nav-item {
        background-color: var(--color-2);
        padding: 1.2em 10px;
        color: var(--color-w);
        text-align: center;
    }

        li.nav-item a {
            color: var(--color-w);
            padding: 7px 0px;
        }

    .navbar {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .dropdown-menu-end {
        border-radius: 0px;
        margin: 5px 0px;
        background: var(--color-2);
        text-align: center;
    }

    .icon-navbar {
        display: inline;
    }

    .nav-sidebar {
        display: block;
    }

    #sidebarToggle {
        display: none;
    }

    #sidebar {
        width: 0rem;
        display: none;
    }

    #main {
        margin-left: 0rem;
    }

    .navbar-toggler {
        margin: 10px;
        margin-left: auto !important;
    }

    .nav-header-collapse {
        display: inline;
    }

    .nav-link:focus, .nav-link:hover {
        color: #fff;
    }
}
